#App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73ed8f;
  padding: 15px 0;
  border-bottom: 2px solid black;
}

#title:hover {
  color: white;
  transition: all 0.4s ease 0s;
}

#logo {
  margin-right: 5px;
}

@media only screen and (max-width: 440px) {
  #logo {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 330px) {
  #logo {
    width: 35px;
    height: 35px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 705px) and (max-height: 680px) {
  #title {
    padding: 5px 0;
  }

  #logo {
    width: 35px;
    height: 35px;
    margin-right: 0;
  }
}
