#App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73ed8f;
  padding: 15px 0;
  border-bottom: 2px solid black;
}

#title:hover {
  color: white;
  transition: all 0.4s ease 0s;
}

#App #logo {
  margin-right: 5px;
}
