#EditDeck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

#display {
  display: flex;
}

#selectCards {
  margin-right: 30px;
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  height: 460px;
  width: 230px;
  border: 2px black solid;
  box-shadow: 5px 5px #004742;
}

#selectCards:focus {
  outline: 0;
}

#selectCards-drop {
  display: none;
}

@media only screen and (max-width: 600px) {
  #display {
    flex-direction: column;
    align-items: center;
  }

  #selectCards {
    display: none;
  }

  #selectCards-drop {
    width: 200px;
    display: inline;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    border: 2px black solid;
    box-shadow: 2px 2px #004742;
  }

  #selectCards-drop:focus {
    outline: none;
  }

  #EditDeck .Card,
  #EditDeck .Card-border {
    height: 400px;
    width: 260px;
  }

  #EditDeck .name {
    font-size: 40px;
    margin-top: 10px;
  }

  #EditDeck .aka {
    font-size: 20px;
  }

  #EditDeck .alignment {
    font-size: 15px;
    margin-bottom: 10px;
  }

  #EditDeck #photo {
    margin: 5px auto 10px auto;
    height: 165px;
    width: 220px;
  }

  #EditDeck .stat-name1,
  #EditDeck .stat-name2 {
    padding-left: 12px;
    height: 25px;
    font-size: 18px;
  }

  #EditDeck .stat1,
  #EditDeck .stat2 {
    height: 25px;
    width: 45px;
  }

  #EditDeck .footer {
    font-size: 8px;
    margin-top: 4px;
  }

  #EditDeck .loading {
    padding: 25px 0;
    height: 30px;
    width: 120px;
    margin: 10px auto 10px auto;
    font-size: 15px;
  }

  #EditDeck .default-message {
    margin-top: 50px;
    font-size: 35px;
  }
}

@media only screen and (max-width: 400px) {
  #EditDeck .Card,
  #EditDeck .Card-border {
    height: 268px;
    width: 175px;
  }

  #EditDeck .name {
    font-size: 25px;
    margin-top: 5px;
  }

  #EditDeck .aka {
    font-size: 14px;
  }

  #EditDeck .alignment {
    font-size: 11px;
    margin-bottom: 0px;
  }

  #EditDeck #photo {
    margin: 5px auto 5px auto;
    height: 96px;
    width: 128px;
  }

  #EditDeck .stat-name1,
  #EditDeck .stat-name2 {
    padding-left: 8px;
    height: 20px;
    font-size: 15px;
  }

  #EditDeck .stat1,
  #EditDeck .stat2 {
    height: 20px;
    width: 30px;
  }

  #EditDeck .footer {
    font-size: 7px;
    margin-top: 4px;
  }

  #EditDeck .loading {
    padding: 25px 0;
    height: 30px;
    width: 120px;
    margin: 10px auto 10px auto;
    font-size: 15px;
  }

  #EditDeck .default-message {
    margin-top: 50px;
    font-size: 35px;
  }
}
