.Card-border {
  background: #007ecc;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 5px 5px #004742;
  height: 440px;
  width: 300px;
  padding: 10px;
}

.Card {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 440px;
  width: 300px;
  background: #00bdcb;
  border-radius: 20px;
}

.name {
  font-family: "Staatliches", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.aka {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

.alignment {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

#photo {
  border: 2px solid black;
  margin: 0 auto 20px auto;
}

.stat-name1 {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 20px;
  padding-left: 20px;
  background: #00d7b0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.stat1 {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 60px;
  background: #a2e893;
  border-left: 2px solid black;
}

.stat-name2 {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 20px;
  padding-left: 20px;
  background: #a2e893;
}

.stat2 {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 60px;
  background: #00d7b0;
  border-left: 2px solid black;
}

.footer {
  font-size: 10px;
  text-align: center;
  margin: 6px 3px 0 3px;
}

.default-message {
  margin-top: 70px;
  text-align: center;
  font-family: "Staatliches", sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.hidden-card {
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 280px;
  background: #007ecc;
  padding: 20px;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 5px 5px #004742;
}

#card-back-text {
  margin: 20px 0 10px 0;
  font-family: "Staatliches", sans-serif;
  font-size: 70px;
  text-align: center;
  align-items: center;
}

#card-back-logo {
  align-self: center;
  padding: 7px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
}

.no-cards {
  display: flex;
  flex-direction: column;
  height: 440px;
  width: 300px;
  padding: 10px;
}

.photographer-link {
  text-decoration: underline;
}
