.Card-border {
  background: #007ecc;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 5px 5px #004742;
  height: 440px;
  width: 300px;
  padding: 10px;
}

.Card {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 440px;
  width: 300px;
  background: #00bdcb;
  border-radius: 20px;
}

.name {
  font-family: "Staatliches", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.aka {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

.alignment {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

#photo {
  border: 3px solid black;
  margin: 0 auto 20px auto;
}

.stat-name1 {
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 22px;
  padding-left: 20px;
  background: #00d7b0;
  border: 2px solid black;
}

.stat1 {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 60px;
  background: #a2e893;
  border-left: 2px solid black;
}

.stat-name2 {
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 22px;
  padding-left: 20px;
  background: #a2e893;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.stat2 {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 60px;
  background: #00d7b0;
  border-left: 2px solid black;
}

.footer {
  font-size: 11px;
  text-align: center;
  margin-top: 6px;
}

.default-message {
  margin-top: 70px;
  text-align: center;
  font-family: "Staatliches", sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.hidden-card {
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 280px;
  background: #007ecc;
  padding: 20px;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 10px 10px #004742;
}

#card-back-text {
  margin: 20px 0 10px 0;
  font-family: "Staatliches", sans-serif;
  font-size: 70px;
  text-align: center;
  align-items: center;
}

#card-back-logo {
  align-self: center;
  padding: 7px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
}

.no-cards {
  display: flex;
  flex-direction: column;
  height: 460px;
  width: 300px;
  padding: 10px;
}

.photographer-link {
  text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
  .Card-border {
    height: 380px;
    width: 250px;
  }

  .Card {
    height: 380px;
    width: 250px;
  }

  #photo {
    margin: 10px auto 10px auto;
  }

  .name {
    font-size: 35px;
  }

  .aka {
    font-size: 17px;
  }

  .alignment {
    font-size: 13px;
  }

  .stat-name1,
  .stat-name2 {
    height: 25px;
    font-size: 18px;
  }

  .stat1,
  .stat2 {
    height: 25px;
    width: 60px;
  }

  .footer {
    font-size: 10px;
  }

  .hidden-card {
    height: 360px;
    width: 230px;
    box-shadow: 8px 8px #004742;
  }

  #card-back-text {
    margin: 10px 0 10px 0;
    font-size: 60px;
  }

  #card-back-logo {
    height: 80px;
    width: 80px;
  }
}

@media only screen and (max-width: 420px) {
  .Card,
  .Card-border {
    height: 268px;
    width: 175px;
  }

  .Card-border {
    box-shadow: 2px 2px #004742;
  }

  .name {
    font-size: 25px;
    margin-top: 5px;
  }

  .aka {
    font-size: 14px;
  }

  .alignment {
    font-size: 11px;
  }

  #photo {
    margin: 5px auto 5px auto;
    height: 90px;
    width: 120px;
  }

  .stat-name1,
  .stat-name2 {
    padding-left: 8px;
    height: 20px;
    font-size: 15px;
  }

  .stat1,
  .stat2 {
    height: 20px;
    width: 30px;
  }

  .footer {
    font-size: 8px;
    margin-top: 2px;
  }
}
