.game-ui {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 300px;
}

.status {
  font-family: "Staatliches", sans-serif;
  text-decoration: underline;
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px black;
}

.message {
  align-self: center;
  font-size: 30px;
  width: 300px;
}

.field {
  font-family: "Staatliches", sans-serif;
  font-size: 50px;
  transition: all 0.4s ease 0s;
  margin: 10px 0;
}

.field:hover {
  color: red;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  text-shadow: 3px 3px black;
}

.tie {
  font-size: 30px;
  font-family: "Staatliches", sans-serif;
}

.game-ui .buttons {
  display: flex;
  flex-direction: column;
}

.game-ui .buttons button {
  margin-bottom: 15px;
}

@media only screen and (max-width: 1005px) {
  .game-ui {
    width: 250px;
  }

  .status {
    font-size: 40px;
  }

  .message {
    font-size: 18px;
    width: 220px;
  }

  .field {
    font-family: "Staatliches", sans-serif;
    font-size: 40px;
  }

  .field:hover {
    text-shadow: 2px 2px black;
  }

  .tie {
    font-size: 25px;
  }

  .game button {
    font-size: 25px;
    margin: 0 8px;
    height: 40px;
    width: 100px;
  }
}

@media only screen and (max-width: 690px) {
  .game-ui {
    justify-content: space-evenly;
    margin: 0 10px;
    width: auto;
  }

  .status {
    font-size: 30px;
  }

  .tie {
    font-size: 20px;
  }

  .message {
    width: auto;
  }

  #fields {
    display: flex;
    align-self: center;
  }

  .field {
    font-size: 25px;
    margin: 0 10px;
  }

  .game-ui .buttons button {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 350px) {
  .game-ui {
    width: 270px;
  }

  .status {
    font-size: 22px;
  }

  .tie {
    font-size: 17px;
  }

  .message {
    font-size: 15px;
  }

  .field {
    font-size: 22px;
    margin: 0 5px;
  }

  .game-ui .buttons button {
    height: 27px;
    font-size: 13px;
    margin-bottom: 8px;
  }
}
