.Play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.game {
  display: flex;
  flex-direction: row;
}

.player {
  margin-right: 20px;
}

.computer {
  margin-left: 20px;
}

#cards {
  display: flex;
  justify-content: center;
}
.score {
  display: flex;
  flex-direction: column;
  font-family: "Staatliches", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.score-active {
  display: flex;
  flex-direction: column;
  font-family: "Staatliches", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  text-shadow: 3px 3px black;
}

@media only screen and (max-width: 860px) {
  .score,
  .score-active {
    font-size: 25px;
  }

  .game {
    flex-direction: column;
    margin: 30px 0 20px 0;
    width: 100%;
  }

  .game .game-ui .buttons {
    flex-direction: row;
  }

  .mobile-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .game .no-cards {
    height: 288px;
    width: 175px;
  }

  .game .Card,
  .game .Card-border {
    height: 268px;
    width: 175px;
  }

  .game .name {
    font-size: 25px;
    margin-top: 5px;
  }

  .game .aka {
    font-size: 14px;
  }

  .game .alignment {
    font-size: 11px;
  }

  .game #photo {
    margin: 5px auto 5px auto;
    height: 90px;
    width: 120px;
  }

  .game .stat-name1,
  .game .stat-name2 {
    padding-left: 8px;
    height: 20px;
    font-size: 16px;
  }

  .game .stat1,
  .game .stat2 {
    height: 20px;
    width: 30px;
  }

  .game .footer {
    font-size: 8px;
    margin-top: 2px;
  }

  .game .hidden-card {
    height: 248px;
    width: 155px;
  }

  .game #card-back-text {
    margin: 10px 0 10px 0;
    font-size: 40px;
  }

  .game #card-back-logo {
    height: 50px;
    width: 50px;
  }

  .game .loading {
    padding: 25px 0;
    height: 30px;
    width: 120px;
    margin: 10px auto 10px auto;
    font-size: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .game {
    margin-bottom: 0;
  }

  .game .no-cards {
    width: 140px;
  }

  .game .Card,
  .game .Card-border {
    width: 140px;
  }

  .game .hidden-card {
    width: 120px;
  }

  .score,
  .score-active {
    font-size: 20px;
  }

  .game .name {
    font-size: 20px;
  }

  .game .aka {
    font-size: 10px;
  }

  .game .alignment {
    font-size: 9px;
  }

  .game #card-back-text {
    font-size: 35px;
  }

  .game .stat-name1,
  .game .stat-name2 {
    height: 23px;
  }

  .game .stat1,
  .game .stat2 {
    height: 23px;
  }
}

@media only screen and (max-width: 335px) {
  .game .no-cards {
    width: 110px;
  }

  .score,
  .score-active {
    font-size: 18px;
  }

  .game .Card,
  .game .Card-border {
    width: 110px;
    height: 228px;
  }

  .game .hidden-card {
    width: 90px;
    height: 208px;
  }

  .game #card-back-logo {
    height: 40px;
    width: 40px;
  }

  .game .stat-name1,
  .game .stat-name2 {
    font-size: 12px;
    height: 16px;
  }

  .game .stat1,
  .game .stat2 {
    width: 20px;
    height: 16px;
  }

  .game #photo {
    margin: 5px auto 5px auto;
    height: 66px;
    width: 88px;
  }

  .game .footer {
    font-size: 7px;
  }
}
