.Play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.player {
  margin: 0 5px 0 20px;
}

.computer {
  margin: 0 20px 0 5px;
}

.score {
  display: flex;
  flex-direction: column;
  font-family: "Staatliches", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.score-active {
  display: flex;
  flex-direction: column;
  font-family: "Staatliches", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  text-shadow: 3px 3px black;
}

.won-card {
  position: absolute;
}

@media only screen and (max-width: 930px) {
  .score,
  .score-active {
    font-size: 25px;
  }

  .game .Card,
  .game .Card-border,
  .game .no-cards {
    height: 268px;
    width: 175px;
  }

  .game .name {
    font-size: 25px;
    margin-top: 5px;
  }

  .game .aka {
    font-size: 14px;
  }

  .game .alignment {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .game #photo {
    margin: 0 auto 10px auto;
    height: 90px;
    width: 120px;
  }

  .game .stat-name1,
  .game .stat-name2 {
    padding-left: 8px;
    height: 20px;
    font-size: 16px;
  }

  .game .stat1,
  .game .stat2 {
    height: 20px;
    width: 30px;
  }

  .game .footer {
    font-size: 7px;
    margin: 5px 3px 0 3px;
  }

  .game .hidden-card {
    height: 248px;
    width: 155px;
  }

  .game #card-back-text {
    margin: 10px 0 10px 0;
    font-size: 40px;
  }

  .game #card-back-logo {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 690px) {
  .game {
    flex-direction: column;
    height: 100%;
  }

  .mobile-cards {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
  }

  .game button {
    font-size: 15px;
    margin: 0 8px;
    height: 26px;
    width: 100px;
  }
}

@media only screen and (max-width: 430px) {
  .game .Card,
  .game .Card-border,
  .game .no-cards {
    width: 145px;
  }

  .game .aka {
    font-size: 12px;
  }

  .game .alignment {
    font-size: 10px;
  }

  .game .stat-name1,
  .game .stat-name2 {
    height: 17px;
    font-size: 14px;
  }

  .game .stat1,
  .game .stat2 {
    height: 17px;
  }

  .game .footer {
    margin: 7px 3px 0 3px;
  }

  .game .hidden-card {
    width: 125px;
  }

  .score {
    font-size: 20px;
  }

  .score-active {
    font-size: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .game .Card,
  .game .Card-border,
  .game .no-cards {
    width: 110px;
    height: 240px;
  }

  .game .name {
    font-size: 20px;
  }

  .game .aka {
    font-size: 10px;
  }

  .game .alignment {
    font-size: 9px;
  }

  .game #photo {
    margin: 0 auto 5px auto;
    height: 81px;
    width: 108px;
  }

  .game .stat-name1,
  .game .stat-name2 {
    padding-left: 5px;
    height: 16px;
    font-size: 13px;
  }

  .game .stat1,
  .game .stat2 {
    height: 16px;
    width: 25px;
  }

  .game .footer {
    font-size: 7px;
    margin-top: 4px;
  }

  .game .hidden-card {
    width: 90px;
    height: 220px;
  }

  .game #card-back-text {
    font-size: 30px;
  }

  .score {
    font-size: 17px;
  }

  .score-active {
    font-size: 17px;
  }
}
