@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Staatliches&display=swap");

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background-color: #00d7b0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
  font-size: 50px;
  font-family: "Staatliches", sans-serif;
}

h2 {
  font-size: 30px;
  font-family: "Staatliches", sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.back {
  font-size: 25px;
  font-family: "Staatliches", sans-serif;
  transition: all 0.4s ease 0s;
}

.back:hover {
  transition: all 0.4s ease 0s;
  color: white;
}

@media only screen and (max-width: 430px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 330px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}
