@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Staatliches&display=swap");

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background-color: #00d7b0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
  font-size: 50px;
  font-family: "Staatliches", sans-serif;
}

h2 {
  font-size: 30px;
  font-family: "Staatliches", sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 25px;
  margin: 0 8px;
  height: 50px;
  width: 155px;
  align-self: center;
  background-color: #009fd6;
  font-family: "Staatliches", sans-serif;
  border: 2px black solid;
  transition: all 0.4s ease 0s;
  box-shadow: 5px 5px #004742;
}

button:hover {
  background: #385bac;
  color: white;
  transition: all 0.4s ease 0s;
  outline: 0;
}

.back {
  font-size: 25px;
  font-family: "Staatliches", sans-serif;
  transition: all 0.4s ease 0s;
}

.back:hover {
  transition: all 0.4s ease 0s;
  color: white;
}

@media only screen and (max-width: 440px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 330px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}
